.node {
  fill: red;
  stroke: green;
  stroke-width: 0px;
}

.node .ego {
  stroke: yellow;
  stroke-width: 2px;
  fill: green;
}

.link {
  stroke: darkblue;
  stroke-width: 1px;
}

html,body { height: 100%; margin: 0px; padding: 0px; }
